* {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: rgb(17, 175, 17);
    outline: 2px solid red;
  }
  
  .title {
    text-align: center;
  }

ul li {
    margin-left: 10px;
  }