* {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: rgb(17, 175, 17);
  box-sizing: border-box;
}

.title {
  text-align: center;
}

ul li {
  font-size: 20px;
  padding: 5px;
  border-left: 30px;
}

.back_to_index {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}

.title_rec {
  display: inline;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-left: 500px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}